# social dev/build outputs
.output
.data
frontend/.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
frontend/.idea

# Local env files
.env
.env.*
!.env.example
