# social dev/build outputs
.output
.data
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet

# Local env files
.env
.env.*
!.env.example

# Build files
build
dist
public

# Composer
vendor

# NPM
package-lock.json
yarn.lock
