@use "variables";
@use "mixins";
@use "pages/login";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;

    > a {
        color: var(--primery-text);
        font-size: 14px;
        font-weight: bold;

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    > button {
        width: 100%;

        padding: 10px 15px;

        background: var(--button-bg);
        border: none;
        outline: none;
        border-radius: 5px;

        color: var(--button-text);
        font-size: 14px;

        cursor: pointer;
    }
}

html {
    background: var(--primary-bg);
    color: var(--primary-text);
}

.content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 640px;
    height: 100%;

    padding-bottom: 20px;

    &__title {
        position: sticky;
        top: 0;
        right: 0;

        width: 100%;

        padding: 10px 0;

        background-color: var(--primary-bg);

        text-align: center;

        z-index: 100;

        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;

            width: 20px;
            height: 20px;

            background: transparent;

            border-top: 1px solid var(--border);
            border-top-left-radius: 20px;
            box-shadow: -6px -6px var(--primary-bg);

            z-index: 10;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: 0;

            width: 20px;
            height: 20px;

            background: transparent;

            border-top: 1px solid var(--border);
            border-top-right-radius: 20px;
            box-shadow: 6px -6px var(--primary-bg);

            z-index: 10;
        }
        &-bottom {
            position: absolute;
            bottom: 0;
            left: 20px;

            width: calc(100% - 40px);
            height: 1px;

            background-color: var(--border);
        }
    }
    &__posts {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        border: 1px solid var(--border);
        border-top: 0;
        border-radius: 20px;

        background-color: var(--secondary-bg);
    }
}
